<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="boardlist">
        <a href="/board/save">쓰기</a>
        <h3>글목록</h3>
        <table>

        <tr th:each="array:${boardlist}">

            <td th:text="${array.bno}" ></td>
            <td><a th:href="@{/board/view/{bno}(bno=${array.getBno})}" > <span th:text = "${array.btitle}"></span></a></td>
            <td th:text="${array.bcontent}"></td>
        </tr>
        </table>
    </div>
</body>
</html>